div {
  font: 12px sans-serif;        
}

.node {
  stroke-width: 0px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}

.toggler {
  text-decoration: underline;
}

#viz {
  float: left;
}


a.node_link {
  color: blue;
  text-decoration: underline;
}

a.node_name {
  color: darkorchid;
}

text {
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}


